@model VetClinic.Models.Cita

@{
    ViewData["Title"] = "Eliminar Cita";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<h3 class="text-center text-danger">¿Estás seguro de que deseas eliminar esta cita?</h3>
<div class="container mt-4">
    <h4 class="text-center">Detalles de la Cita</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>

        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.IdMascotaNavigation)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IdMascotaNavigation.Nombre) <!-- Asumiendo que Nombre es el atributo de la mascota -->
        </dd>
    </dl>

    <div class="text-center">
        <form asp-action="Delete" class="d-inline-block">
            <input type="hidden" asp-for="IdCita" />
            <button type="submit" class="btn btn-danger btn-lg">Eliminar</button>
        </form>
        <a asp-action="Index" class="btn btn-secondary btn-lg ml-3">Volver al Listado</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

